/*przykłady container i container-fluid*/

/*
.container-example {
    height: 50vh;
    background-color: salmon;
}

.container-fluid-example {
    height: 20vh;
    background-color: thistle;
}
*/


/*
.item {
    height: 350px;
    background-color: tan;
    border-bottom: 1px solid #000;
}

.item:nth-child(2n) {
    background-color: navajowhite;
}
*/



body {
    height: 1900px;
}


